@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
body {
	background: #cac1c1;
	font-family: "Roboto", sans-serif;
}
/* scrollbar */
::-webkit-scrollbar{
    width: .375rem;
}
::-webkit-scrollbar-track{
    background:#cbd9db;
}
::-webkit-scrollbar-thumb{
    background:#7dccc8;
}

.shadow {
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;
}

.profile-tab-nav {
	min-width: 250px;
}

.tab-content {
	flex: 1;
}

.form-group {
	margin-bottom: 1.5rem;
}
.nav-pills{
	background-color: rgb(224, 218, 210);
}

.nav-pills a.nav-link {
	padding: 15px 20px;
	border-bottom: 1px solid #797272;
	border-radius: 0;
	color: #333;
}
.nav-pills a.nav-link i {
	width: 20px;
}

.img-circle img {
	height: 100px;
	width: 100px;
	border-radius: 100%;
	border: 5px solid #fff;
}
.gender{
	display: flex;
	flex-direction: row;
}
.pro-addition{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.cart ul li{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	list-style: none;
	font-size: 17px;
	margin: 5px 5px;
	text-decoration: none;
}
.cart ul li a i{color: black;}